In [139]:
import gmaps
import json
import requests
from pprint import pprint
import pandas as pd
import numpy as np
from citipy import citipy
import random
import matplotlib.pyplot as plt
from scipy.stats import linregress
import os
import csv

gkey = "AIzaSyCBUL-_-sK3iaqt1u1d_JoMQi-hAhYPgpg"

gmaps.configure(api_key= gkey)

In [140]:
#Leyendo el archivo que creamos en el ejercicio anterior
df = pd.read_csv("coordinates2.csv")
df.shape

(991, 8)

In [141]:
#Generando un grafico con todos los lugares a los que a me gustaria ir, mostrando cuales son los mas humedos
locationsHl  = df[["Latitudes","Longitudes"]]
rating = df["humidity"].astype("float")


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(
    locationsHl,
    weights = rating,
    dissipating = False,
    point_radius=2
)
#markers = gmaps.marker_layer(locations)
#fig.add_layer(markers)
fig.add_layer(heat_layer)
print("Mis lugares ideales para vacaciones en mis hoteles preferidos, Date: May 2020")
fig

Mis lugares ideales para vacaciones en mis hoteles preferidos, Date: May 2020

Figure(layout=FigureLayout(height='420px'))

In [142]:
#Creando los inputs para que las personas puedan poner sus preferencias
tempMax = input("What is the max temperature?")
tempMin = input("What is the min temp?")
speedMax = input("What show the max wind speed you want?")
cloudExact = input("What is the max cloudiness?")

What is the max temperature?1000
What is the min temp?300
What show the max wind speed you want?2
What is the max cloudiness?10

In [143]:
#Reduciendo el data frame con los rangos que prefiere la persona
df = df.loc[df['temp'] < float(tempMax)]
df = df.loc[df['temp'] > float(tempMin)]
df = df.loc[df['speed'] <= float(speedMax)]
#Gedf = df.loc[df['clouds'] <= float(cloudExact)]

#Elimando las columnas que no se va a usar durante el analisis
df = df.drop(columns=["South","speed"])
df.shape

(37, 6)

In [144]:
#Generando nuevas columnas para almacenar la daa uqe vamos a bscar en los APIs
df["name"] = ""
df["Lat"] = ""
df["lng"] = ""
df["rating"] = ""
df["total rating"] = ""

df.head()

,city name,temp,humidity,clouds,Longitudes,Latitudes,name,Lat,lng,rating,total rating
49,taoudenni,304.61,23,68,-3.98,22.68,,,,,
98,tandalti,302.57,12,94,31.87,13.02,,,,,
118,cozumel,300.37,89,21,-86.95,20.51,,,,,
173,japura,307.29,50,99,102.35,-0.32,,,,,
206,salalah,302.15,79,75,54.09,17.02,,,,,

In [145]:
#Generando una lista  de lo hoteles que se encuentran lo mas cerca a cada una de esos ciudades


base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    #"radius" : 500000,
    "type": "lodging",
    "key": gkey,
}

# usando iterrows para iterrar por cada uno de del dataframe
for index, row in df.iterrows():

    # obtener las coordenadas para cada uno de los hoteles
    restr_type = str(row['Latitudes'])+","+str(row["Longitudes"])

    # añadir a mi diccionario
    params['location'] = restr_type

    #ensamblar cada una de las URL
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # obetneer resultados
    results = response['results']
    
    #Poner que pasa si es que encuentra un error
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        df.loc[index, 'name'] = results[0]['name']
        df.loc[index, 'Lat'] = results[0]["geometry"]["location"]["lat"]
        df.loc[index, 'lng'] = results[0]["geometry"]["location"]["lng"]
        df.loc[index, 'rating'] = results[0]["rating"]
        df.loc[index, 'total rating'] = results[0]["user_ratings_total"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
df

Retrieving Results for Index 49: 22.68,-3.98.
Missing field/result... skipping.
Retrieving Results for Index 98: 13.02,31.87.
Closest 13.02,31.87 restaurant is منزل : الهادي محمد مساعد.
Retrieving Results for Index 118: 20.51,-86.95.
Closest 20.51,-86.95 restaurant is Be my guest.
Missing field/result... skipping.
Retrieving Results for Index 173: -0.32,102.35.
Closest -0.32,102.35 restaurant is KOST dan HOMESTAY RUMAH KITA JOSH.
Retrieving Results for Index 206: 17.02,54.09.
Closest 17.02,54.09 restaurant is Al Sahwa New Building.
Retrieving Results for Index 268: 10.5,10.0.
Missing field/result... skipping.
Retrieving Results for Index 284: 7.71,81.69.
Closest 7.71,81.69 restaurant is Doctors' Official Residence.
Retrieving Results for Index 303: 6.58,3.75.
Closest 6.58,3.75 restaurant is ELERAN IGBE BY LAGOS LAGOON.
Retrieving Results for Index 324: 10.27,13.26.
Closest 10.27,13.26 restaurant is Hotel.
Retrieving Results for Index 341: -0.95,100.35.
Closest -0.95,100.35 restaurant is Perumahan Arai Pinang Pagambiran Ampalu Nan XX.
Retrieving Results for Index 353: 11.03,20.28.
Missing field/result... skipping.
Retrieving Results for Index 370: 21.43,39.83.
Closest 21.43,39.83 restaurant is مواقف الباصات.
Missing field/result... skipping.
Retrieving Results for Index 382: 9.33,76.63.
Closest 9.33,76.63 restaurant is Kuramannil Homestay.
Retrieving Results for Index 403: 19.37,-81.42.
Closest 19.37,-81.42 restaurant is Andres Villas By The Sea.
Missing field/result... skipping.
Retrieving Results for Index 407: 17.42,121.44.
Missing field/result... skipping.
Retrieving Results for Index 424: 8.08,77.57.
Closest 8.08,77.57 restaurant is Sunrise Point.
Retrieving Results for Index 439: 13.1,2.37.
Missing field/result... skipping.
Retrieving Results for Index 483: 6.62,73.07.
Closest 6.62,73.07 restaurant is Haajy Guest House 1.
Retrieving Results for Index 513: 13.76,7.99.
Closest 13.76,7.99 restaurant is Benin Dan Kaabou Heberge.
Missing field/result... skipping.
Retrieving Results for Index 523: 34.37,73.47.
Closest 34.37,73.47 restaurant is Ejaz Manzil Madina Market.
Retrieving Results for Index 529: 6.8,81.48.
Closest 6.8,81.48 restaurant is Kebiliththa.jetsafari Monaragala.
Missing field/result... skipping.
Retrieving Results for Index 558: 22.93,57.53.
Closest 22.93,57.53 restaurant is مؤسسة الهلال الأبيض للخدمات العقاريه و مقاولات.
Retrieving Results for Index 573: 8.92,-67.43.
Closest 8.92,-67.43 restaurant is Best Western Hotel Plaza Real.
Retrieving Results for Index 611: 27.98,83.77.
Closest 27.98,83.77 restaurant is Nir maya gurung.
Missing field/result... skipping.
Retrieving Results for Index 676: 12.35,32.18.
Missing field/result... skipping.
Retrieving Results for Index 729: 14.89,5.27.
Closest 14.89,5.27 restaurant is Bungalows Guesthouse.
Retrieving Results for Index 731: 8.3,30.14.
Missing field/result... skipping.
Retrieving Results for Index 763: 28.31,70.13.
Closest 28.31,70.13 restaurant is Hamza Auto Service.
Retrieving Results for Index 789: 13.81,8.99.
Closest 13.81,8.99 restaurant is hôtel central.
Retrieving Results for Index 812: 21.09,71.76.
Closest 21.09,71.76 restaurant is Femous golden Pani Puri and Ragada puri Mahuva.
Retrieving Results for Index 819: 18.28,-70.33.
Closest 18.28,-70.33 restaurant is Hotel El Centro.
Retrieving Results for Index 843: 31.33,75.58.
Closest 31.33,75.58 restaurant is आर्य भवन.
Missing field/result... skipping.
Retrieving Results for Index 852: 12.97,77.23.
Closest 12.97,77.23 restaurant is Mindri of Magadi.
Missing field/result... skipping.
Retrieving Results for Index 909: 25.29,60.64.
Closest 25.29,60.64 restaurant is Sepideh Hotel.
Retrieving Results for Index 931: 22.57,59.53.
Closest 22.57,59.53 restaurant is Arabian Sea Motel.
Missing field/result... skipping.
Retrieving Results for Index 948: 25.02,37.27.
Closest 25.02,37.27 restaurant is عبدالله ظافر الثوعي.
Missing field/result... skipping.
Retrieving Results for Index 977: 11.47,49.87.
Missing field/result... skipping.

,city name,temp,humidity,clouds,Longitudes,Latitudes,name,Lat,lng,rating,total rating
49,taoudenni,304.61,23,68,-3.98,22.68,,,,,
98,tandalti,302.57,12,94,31.87,13.02,منزل : الهادي محمد مساعد,13.0212,31.8704,5,2
118,cozumel,300.37,89,21,-86.95,20.51,Be my guest,20.5097,-86.9503,,
173,japura,307.29,50,99,102.35,-0.32,KOST dan HOMESTAY RUMAH KITA JOSH,-0.326415,102.31,5,1
206,salalah,302.15,79,75,54.09,17.02,Al Sahwa New Building,17.0204,54.0926,5,1
268,bauchi,300.42,56,45,10.00,10.50,,,,,
284,batticaloa,303.54,69,10,81.69,7.71,Doctors' Official Residence,7.70838,81.6908,4.2,5
303,lagos,301.15,88,20,3.75,6.58,ELERAN IGBE BY LAGOS LAGOON,6.56039,3.80594,2,2
324,mubi,300.37,46,3,13.26,10.27,Hotel,10.2656,13.2613,3.8,44
341,padang,305.22,54,91,100.35,-0.95,Perumahan Arai Pinang Pagambiran Ampalu Nan XX,-0.95,100.353,3.8,8
353,am timan,301.84,42,41,20.28,11.03,,,,,
370,mecca,302.67,49,70,39.83,21.43,مواقف الباصات,21.4305,39.83,,
382,chengannur,307.05,56,66,76.63,9.33,Kuramannil Homestay,9.33506,76.6277,4.3,3
403,west bay,301.30,78,99,-81.42,19.37,Andres Villas By The Sea,19.3715,-81.4159,,
407,tabuk,307.25,52,46,121.44,17.42,,,,,
424,kanniyakumari,304.67,62,72,77.57,8.08,Sunrise Point,8.08992,77.5575,4.6,10
439,say,305.15,38,48,2.37,13.10,,,,,
483,kulhudhuffushi,302.48,73,66,73.07,6.62,Haajy Guest House 1,6.62042,73.0703,4.3,3
513,tessaoua,305.31,24,91,7.99,13.76,Benin Dan Kaabou Heberge,13.7564,7.9903,,
523,muzaffarabad,301.34,35,79,73.47,34.37,Ejaz Manzil Madina Market,34.371,73.4704,3.9,80
529,wattegama,307.66,54,2,81.48,6.80,Kebiliththa.jetsafari Monaragala,6.82757,81.5215,,
558,nizwa,308.69,9,0,57.53,22.93,مؤسسة الهلال الأبيض للخدمات العقاريه و مقاولات,22.9295,57.5306,4,1
573,calabozo,301.50,52,99,-67.43,8.92,Best Western Hotel Plaza Real,8.92128,-67.4303,4.4,435
611,waling,303.22,27,0,83.77,27.98,Nir maya gurung,27.9772,83.7677,,
676,marabba,304.64,11,96,32.18,12.35,,,,,
729,tahoua,302.15,17,2,5.27,14.89,Bungalows Guesthouse,14.8934,5.26954,3,26
731,ler,300.19,67,100,30.14,8.30,,,,,
763,sadiqabad,311.79,14,0,70.13,28.31,Hamza Auto Service,28.3099,70.1295,5,1
789,zinder,302.15,62,81,8.99,13.81,hôtel central,13.8046,8.98849,3.7,15
812,mahuva,306.64,37,0,71.76,21.09,Femous golden Pani Puri and Ragada puri Mahuva,21.0896,71.7616,5,9
819,bani,301.32,78,100,-70.33,18.28,Hotel El Centro,18.2798,-70.3298,3.7,31
843,jalandhar,309.39,17,98,75.58,31.33,आर्य भवन,31.3292,75.5803,,
852,magadi,304.41,55,2,77.23,12.97,Mindri of Magadi,12.9584,77.2287,,
909,chabahar,303.24,57,0,60.64,25.29,Sepideh Hotel,25.2895,60.6374,3,61
931,sur,307.39,37,0,59.53,22.57,Arabian Sea Motel,22.57,59.53,,
948,umm lajj,301.23,38,100,37.27,25.02,عبدالله ظافر الثوعي,25.0173,37.2718,,
977,qandala,305.27,46,0,49.87,11.47,,,,,

In [146]:
#Reduciendo el data frame para eliminar las ciudades que no tienen un hotel cerca

df["Lat"] = pd.to_numeric(df["Lat"], errors = "coerce")
df = df.dropna()

df["rating"] = pd.to_numeric(df["rating"], errors = "coerce")
df = df.dropna()


df["total rating"] = pd.to_numeric(df["total rating"], errors = "coerce")
df = df.dropna()

#Anadiendo una columna para poder un ranking total, para no caer en uno de 5 de rating pero con una sola reseña
#df["ranking"] = df["rating"] * df["total rating"]

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,city name,temp,humidity,clouds,Longitudes,Latitudes,name,Lat,lng,rating,total rating
98,tandalti,302.57,12,94,31.87,13.02,منزل : الهادي محمد مساعد,13.021243,31.8704,5.0,2
173,japura,307.29,50,99,102.35,-0.32,KOST dan HOMESTAY RUMAH KITA JOSH,-0.326415,102.31,5.0,1
206,salalah,302.15,79,75,54.09,17.02,Al Sahwa New Building,17.020361,54.0926,5.0,1
284,batticaloa,303.54,69,10,81.69,7.71,Doctors' Official Residence,7.708382,81.6908,4.2,5
303,lagos,301.15,88,20,3.75,6.58,ELERAN IGBE BY LAGOS LAGOON,6.560391,3.80594,2.0,2

In [147]:
#Agregar las marcas para cada uno de los hoteles que 
locations2  = df[["Lat","lng"]]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(
    locationsHl,
    weights = rating,
    dissipating = False,
    point_radius=2
)
markers = gmaps.marker_layer(locations2)
fig.add_layer(markers)
fig.add_layer(heat_layer)
print("Mis lugares ideales para vacaciones en mis hoteles preferidos, Date: May 2020")
fig

Mis lugares ideales para vacaciones en mis hoteles preferidos, Date: May 2020

Figure(layout=FigureLayout(height='420px'))